.header {
  @include flex(row, space-between, center);
  color: $color-white;
  padding: 10px 10px 0;
  max-width: 90vw;

  @include mobile {
    padding: 20px 20px 0;
  }
  @include tablet {
    padding: 30px 32px 0;
  }
  @include desktop {
    padding: 40px 16px 0;
  }
}

.navigation {
  @include flex(row, space-between, center);
  gap: 24px;
  font-size: var(--font-size-sm);
  color: $color-white;
  z-index: 7;

  @include desktop {
    font-size: var(--font-size-xs);
  }

  a:hover {
    color: $color-grey-1;
  }

  .active:hover {
    color: none;
  }

  &-column {
    @include flex(column, center, center);
    gap: 24px;
  }

  &-row {
    @include flex(row, center, center);
    gap: 65px;
  }
}

.burger {
  &-button {
    color: $color-white;
  }

  &-close {
    position: absolute;
    top: 3vh;
    right: 1vw;
    color: $color-grey-1;
    z-index: 110;
  }

  &-button,
  &-close {
    width: 40px;
    height: 40px;

    svg {
      width: 30px;
      height: 30px;
    }
    &:hover {
      svg {
        color: $color-black;
      }
    }
  }

  &-background {
    z-index: 102;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: $color-grey-2;
  }

  &-column {
    @include flex(column, flex-start, center);
    gap: 44px;
    z-index: 103;
    position: relative;
    height: 100%;
    padding: 20vh 0.1vw;
    overflow: auto;
  }
}

.logo {
  img {
    width: 45px;
    height: auto;
  }
  p {
    color: $color-white;
    font-family: Roboto;
    font-size: var(--font-size-sm);
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 3.6px;
  }

  &:hover {
    p {
      color: $color-grey-1;
    }
    img {
      opacity: 0.7;
    }
  }

  &-column {
    @include flex(column, center, center);
    gap: 10px;
  }

  &-row {
    @include flex(row, center, center);
    gap: 12px;
  }
}
