html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", serif;
  font-size: var(--font-size-xs);
  line-height: 1.6;
  color: $color-black;
  background-color: $color-white;
  margin: 0;
  font-weight: 400;
}

main {
  flex: 1;
}

footer {
  margin-top: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p {
  color: $color-grey-1;
}

ul,ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

button{
  border: none;
  background: none;
  outline: none;
  padding: 0;
}

a,
button {
  cursor: pointer;
  transition: $cubic;
}

.container {
  margin: 0 auto;
  padding: 0 10px;

  @media (min-width: $screen-mobile) {
    width: $screen-mobile;
    padding: 0 20px;
  }

  @media (min-width: $screen-tablet) {
    width: $screen-tablet;
    padding: 0 32px;
  }

  @media (min-width: $screen-desktop) {
    width: $screen-desktop;
    padding: 0 16px;
  }
}
